* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    color: #333;
}

header {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
}

.LuisBa img {
    border-radius: 50%;
}


nav a {
    color: white;
    margin: 0 15px;
    font-weight: bold;
}


main {
    max-width: 900px;
    margin: 30px auto;
}


h2 {
    color: #1e3a8a;
    border-bottom: 2px solid #1e3a8a;
}


ul li {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: bold;
}

form input,
form textarea {
    
    border-radius: 5px;
    border: 1px solid #ccc;
}



button {
    background-color: #1e3a8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
